.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.copyright
{
  height: 65px;
}

.spacer-25-vertical
{
  height: 25%;
}

.input-form-center {
  position: fixed !important;
  top: 10% !important;
  left: 50% !important;
  transform: translate(-50%, 0%) !important;
}

.on-top-of-all{
  z-index: 100500 !important;
}